include pyproject.toml

# Include the README
include *.md

# Include the license file
include LICENSE.txt
include READ.me
include recognition/credentials.json.example
include recognition/*.ipynb
include recognition/notebooks/*.ipynb
include recognition/ocr/utils/*.ipynb

include recognition/*.jpg
include recognition/tests/*.jpg
include recognition/tests/EnglishHandwritten/*.jpg
include recognition/tests/Histograms/*.jpg
include recognition/tests/TurkishHandwritten/*.jpg
include recognition/tests/IAM8/*.jpg

include recognition/*.png
include recognition/tests/*.png
include recognition/tests/EnglishHandwritten/*.png
include recognition/tests/Histograms/*.png
include recognition/tests/TurkishHandwritten/*.png
include recognition/tests/IAM8/*.png

include recognition/*.pdf
include recognition/tests/*.pdf
include recognition/tests/EnglishHandwritten/*.pdf
include recognition/tests/Histograms/*.pdf
include recognition/tests/TurkishHandwritten/*.pdf
include recognition/tests/IAM8/*.pdf


include recognition/ocr/utils/*.jpg
include recognition/results/*

include doc/*
include doc/ocr/*


# Include the data files
recursive-include data *