include pyproject.toml

# Include the README
include *.md

# Include the license file
include LICENSE.txt
include READ.me
include recognition/credentials.json.example
include recognization/*.ipynb
include recognization/ocr/utils/*.ipynb

include recognization/*.jpg
include recognization/*.png
include recognization/*.pdf
include recognization/ocr/utils/*.jpg
include recognization/results/*

include doc/*
include doc/ocr/*


# Include the data files
recursive-include data *