scikit_image
scipy
matplotlib
tqdm
mxnet_cu102mkl
pandas
nltk
mxboard
numpy
gluonnlp
leven
ipython
mxnet
mxboard
Pillow
pyenchant
scikit-image
sympound
weighted_levenshtein
hnswlib
pybind11
setuptools
pdoc3
pprint
